[submodule "lib/libelectronic-id"]
	path = lib/libelectronic-id
	url = git@github.com:silvergithub999/emrtd-libelectronic-id.git
[submodule "src/mac/js"]
	path = src/mac/js
        url = git@github.com:silvergithub999/emrtd-web-eid-webextension.git

